# numpy
# pandas
# matplotlib
# ipywidgets
jupyter-book
# ghp-import
sphinx-inline-tabs
sphinx-click
# sphinxext-rediraffe
# sympy
# plotly
# jupyter-dash
# opencv-python
# tqdm
# pyyaml
# scikit-learn
sphinx>=4.3